{% extends "::layout.html.twig" %}

{% block shell %}
	<div class="container">
		<div class="row">
			<div id="content">
				{% block body %}
				{% endblock %}
			</div>
		</div>
		
		<footer class = "row">
			<div align = "center" class = "well">
				<ul class="nav nav-pills nav-stacked">
					<li>
						<form action="{{ path('ml_home_homepage') }}" method="post">
							<input type = "submit" value = "A propos" style = "margin-right: 20px" class="btn btn-sm" />
						</form>
						<form action="{{ path('ml_home_homepage') }}" method="post">
							<input type = "submit" value = "Développeurs" style = "margin-right: 20px" class="btn btn-sm" />
						</form>
						<form action="{{ path('ml_home_homepage') }}" method="post">
							<input type = "submit" value = "Aide" style = "margin-right: 20px" class="btn btn-sm" />
						</form>
					</li>
				</ul>
				<p><h5><i style="margin-right: 5px" class="glyphicon glyphicon-hand-right"></i>Poavre<i style="margin-left: 5px" class="glyphicon glyphicon-hand-left"></i></h5></p>
			</div>
		</footer>
	</div>
{% endblock %}
