{% extends "::simple.html.twig" %}

{% block title %}
{{ parent() }}
{% endblock %}

{% block body %}
<div class = "well">
	<h1 align="center"><b>Poavre</b></h1>
</div>

<hr>

{% if error is defined %}
<h5 style="color:red">{{ error }}</h5>
{% endif %}

<table class="table">
	<tr>
		<td>
			<div class="well" align="center">
				<form class="form-signin" role="form" action="{{ path('ml_user_connexion') }}" method="post">
					<h2 class="form-signin-heading">Connexion</h2>
					<input type="text" class="form-control" placeholder="Pseudo" id="login" name="login" required autofocus>
					<input type="password" class="form-control" placeholder="Mot de passe" id="mot_de_passe" name="mot_de_passe" required>
					<br><br>
					<button class="btn btn-lg btn-primary btn-block" type="submit">Se connecter</button>
				</form>
			</div>
		</td>
		<td>
			<div class="well">
				<form method="post" class="form-signin" role="form" action="{{ path('ml_user_add') }}">
					<center><h2 id = "titre_formulaire">Inscription</h2></center>
					<input type="text" class="form-control" placeholder="Nom" id="lastName" name="lastName" required>
					<input type="text" class="form-control" placeholder="Prénom" id="firstName" name="firstName" required>
					<input type="text" class="form-control" placeholder="Pseudo" id="login" name="login" required>
					<input type="password" class="form-control" placeholder="Mot de passe" id="password" name="password" required><br>
					<input type="submit" class="btn btn-lg btn-primary btn-block" id="form_validatation" />
				</form>
			</div>
		</td>
	</tr>
</table>

{% endblock %}