{% extends "MlUserBundle::layout.html.twig" %}

{% block title %}
 {{ parent() }} - Suppression du compte
{% endblock %}
	
{% block user_body %}
	<div class="jumbotron">
		<h1 style="text-align:center">Voulez vous réellement supprimer votre compte?</h1>
	</div>
	<div>
		<center>
			{% if message is defined %}
				<font color = "red">{{ message }}</font>
				<br><br>
			{% endif %}
			<form action="{{ path('ml_user_delete') }}" method="post">
				<input type = "submit" value = "Oui" class = "btn btn-lg btn-danger">
			</form>
			<form action="{{ path('ml_user_see') }}" method="get">
				<input type = "submit" value = "Non" class = "btn btn-lg btn-success">
			</form>
		</center>
	</div>
{% endblock %}