{% extends "MlUserBundle::layout.html.twig" %}

{% block title %}
 {{ parent() }} - Supprimer compte
{% endblock %}
	
{% block user_body %}

<h2>Voulez vous nous quitter, {{ user.firstName }}?</h2>

{{ form }}

{% endblock %}
