{% extends "MlUserBundle::layout.html.twig" %}

{% block title %}
	{{ parent() }} - Edition du compte membre
{% endblock %}
	
{% block user_body %}
	<div class="jumbotron">
		<h3 style="text-align:center">Editez votre profil </h3>
	</div>
	<div class="well" align = "center">
		<form action="{{ path('ml_user_edit', {'id': user.id}) }}" method="post" {{ form_enctype(form) }}>
			{{ form_widget(form) }}
			<button type = "submit" class = "btn btn-success" id = "validate"> Valider</button>
			<button type  = "reset" class = "btn btn-danger" id = "zero">Remettre a zéro</button>
		</form>
	</div>
{% endblock %}
