{% extends "MlUserBundle::layout.html.twig" %}

{% block title %}
 {{ parent() }} - Membre
{% endblock %}
	
{% block user_body %}
<h2 id="editprofile">Editer Profil</h2>

<div>
<p>Avatar</p>
<p>Email</p>
<p>Prénom</p>
<p>Nom</p>
<p>Date de naissance</p>
<p>Titre de votre poste</p>
</div>

<div><p>Supprimer mon compte</p></div>

<h2 id="changepassword">Changer mon mot de passe</h2>

<div>
<p>Nouveau mot de passe</p>
<p>Retaper votre nouveau mot de passe</p>
</div>

<h2 id="emails">Emails</h2>

<h2 id="status">Statut</h2>

<div>
{# <p>Premium</p> #}
<p>Karma</p>
</div>

<h2 id="transactions">Transactions</h2>

<h2 id="notifications">Notifications</h2>

{% endblock %}
